apiVersion: v1
kind: Service
metadata:
  name: s3-sentinel-connector
  labels:
    app: s3-sentinel-connector
spec:
  type: ClusterIP
  selector:
    app: s3-sentinel-connector
  ports:
    - name: http
      port: 8080
      targetPort: http
      protocol: TCP
    - name: metrics
      port: 9090
      targetPort: metrics
      protocol: TCP
